.chevron-pack {
    z-index: 1000;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -25px;
}
@media (max-width: 640px) {
    .chevron-pack {
        transform: scale(0.5);
        margin-left: -32px;
    }
}
@media (max-height: 640px) {
    .chevron-pack {
        top: 70%;
    }
}
.chevron {
    margin: 10px;
}
.chevron-piece {
    width: 50px;
    height: 10px;
    background-color: white;
}
.chevron-left {
    transform: rotate(45deg);
    position: relative;
    right: 14px;
    border-radius: 2px;
}
.chevron-right {
    transform: rotate(-45deg);
    position: relative;
    left: 14px;
    bottom: 10px;
    border-radius: 2px;
}