.header {
    font-family: "Droid Sans", sans-serif;
    -webkit-filter: blur(0.000001px);
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.first {
    width: 180px;
    margin-left: -90px;
}

.second {
    width: 600px;
    margin-left: -300px;
}

@media (min-width: 960px) {
    .first {
        margin-top: -240px;
    }
    .second {
        margin-top: 40px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 960px){
    .first {
        margin-top: -220px;
    }
    .second {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 640px) and (min-width: 400px) {
    .first {
        margin-top: -200px;
    }
    .second {
        width: 350px;
        margin-left: -175px;
        margin-top: 0;
    }
}
@media only screen and (max-width: 400px) {
    .first {
        margin-top: -180px;
    }
    .second {
        width: 240px;
        margin-left: -120px;
        margin-top: -20px;
    }
}
